*

!.github/
!.github/*.md
!.github/workflows/
!.github/workflows/*.yml

!docs/
!docs/*.md

!include/
!include/*.h

!src/
!src/*.c

!.clang-format
!.clang-tidy
!.editorconfig
!.gitattributes
!.gitignore
!CONTRIBUTING.md
!LICENSE
!Makefile
!README.md
